[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = US
ST  = Region Hovedstaden
L   = Koebenhavn
O   = PIA
OU  = IT Operations
CN  = PIA.DK

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = PIA.dk
DNS.2 = drives.PIA.dk